extends layout

block content
	h1 Chat Rooms:
	a.btn.btn-primary(href="/admin/rooms/add") Create a new chat room
	table.table.table-striped
		thead
			tr
				th Name
				th Id
		tbody
			each room in rooms
				tr
					td= room.name
					td= room.id
